.sidebar-app {
  padding: 20px;
  height: 94vh;
  border: 1px black solid;
  background-color: white;
}

.note-editor {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  font-family: Arial, sans-serif;
}
